<nav>
	<span class="view-switcher">
		<span data-value="all" class="checked">Everything</span><span data-value="per-one">One by one</span>
	</span>
	<span class="version-switcher hide">
		<span data-value="stable" class="checked">Stable version</span><span data-value="unstable">1.1 Beta</span>
	</span>
	<span class="nav-heading">Start</span>
	<a href="#!home">Home</a>
	<a href="#!introduction">Introduction</a>
	<a href="#!getting-started">Getting started <span class="expand"></span><span class="hidden-active-child"></span></a>
	<div class="submenu-wrapper">
		<ul data-submenu="!getting-started">
			<li><a href="#!hello-world">Hello World</a>
			<li><a href="#!examples">Examples</a>
			<li><a href="#!how-to-include">How to include</a>
		</ul>
	</div>

	<hr>
	<span class="nav-heading">API</span>
	<label class="doc-importance">
		<input type="checkbox"> Advanced mode  <a href="#!getting-started">(?)</a>
	</label>
	<div class="api">
		<%- include('temp/doc_menu.html') %>
	</div>
	<hr>
	<span class="nav-heading">Info</span>
	<a href="#!faq">FAQ</a>
	<a href="#!caniuse">Supported browsers</a>

	<hr>
	<span class="nav-heading">Articles</span>
	<a href="https://github.com/matreshkajs/matreshka/wiki/Matreshka.js:-From-simple-to-simple">Tutorial</a>
	<a href="https://github.com/matreshkajs/matreshka/wiki/10-reasons-to-try-Matreshka">10 reasons to try</a>
	<a href="https://github.com/matreshkajs/matreshka/wiki/Matreshka.js:-Events">Events</a>

	<hr>
	<span class="nav-heading">Links</span>
	<a href="https://github.com/finom/matreshka/releases">What's new?</a>
	<a href="//ru.matreshka.io" class="another-language"><i></i> In Russian</a>
	<a>Last update <%= updatedDate %></a>
</nav>
