<nav>
	<span class="view-switcher">
		<span data-value="all" class="checked">Everything</span><span data-value="per-one">One by one</span>
	</span>
	<span class="nav-heading">Need less?</span>
	<a href="https://defi.js.org" style="text-align: center;">
		<img src="https://defijs.github.io/assets/logo.svg" style="width: 60px;">
	</a>
	<span class="nav-heading">Start</span>
	<a href="#!home">Home</a>
	<a href="#!introduction">Introduction</a>
	<a href="#!website-instructions">Website instructions</a>
	<a href="#!examples">Examples</a>

	<hr>
	<span class="nav-heading">API</span>
	<label class="doc-importance">
		<input type="checkbox"> Advanced mode  <a href="#!website-instructions">(?)</a>
	</label>
	<div class="api">
		<%- include('temp/doc_menu.html') %>
	</div>
	<hr>
	<span class="nav-heading">Info</span>
	<a href="#!faq">FAQ</a>
	<hr>
	<span class="nav-heading">Links</span>
	<%- include('../common/links.html') %>

	<span class="nav-heading">Other languages</span>
	<a href="//ua.matreshka.io/" class="another-language"><i></i> Українською</a>
	<a href="//ru.matreshka.io/" class="another-language"><i></i> На русском</a>
	<a>Last update <%= updatedDate %></a>
</nav>
