<div class="share-buttons">
    <a class="share-facebook"></a> <a class="share-twitter"></a>
</div>


<a class="comments" data-id="<?js= obj.link ?>" data-title="<?js= obj.title ?>"><?js= this.lang.comments ?><i></i></a>
<!--<div class="comments-container"></div>-->
<div class="comments-container"
  href="https://muut.com/i/matreshka/comments/matreshka-<?js= this.langName ?>:<?js= obj.link ?>"
  title="<?js= obj.title ?>"
  data-channel="Matreshka"
  data-show_online="false"
  data-upload="false"></div>
