<?js for( var i in obj.classes ) {
	var _class = obj.classes[i];
	var previous;
	var self = this;
?>
	<a
		href="#!<?js= _class.longname ?>"
		data-name="<?js= _class.name ?>"
		<?js if(_class.importance) {?>data-importance="<?js= _class.importance ?>"<?js } ?>
	>
		<b><?js= _class.longname ?></b>

		<i class="important" title="<?js=self.lang.important?>"></i>
		<span class="expand"></span>
		<span class="hidden-active-child"></span>
	</a>
	<div class="submenu-wrapper">
		<ul data-submenu="!<?js= _class.longname ?>">
			<?js _class.instanceMembers.member.forEach( function( member ) { if( member.name !== previous ) { previous = member.name; ?>
				<li>
					<a href="#!<?js= member.longname.replace( '#', '-' )  ?>"
						title="<?js= member.summary_plain ?>"
						data-name="<?js= member.name ?>"
						<?js if(member.since) {?>data-since="<?js= member.since ?>"<?js } ?>
						<?js if(member.importance) {?>data-importance="<?js= member.importance ?>"<?js } ?>>
						<?js= member.name ?>
						<?js= member.important ? '<i class="important" title="'+self.lang.important+'"></i>' : '' ?>
						<?js= member.cool ? '<i class="cool" title="'+self.lang.cool+'"></i>' : '' ?>
					</a>
				</li>
			<?js } }); ?>
			<?js _class.instanceMembers['function'].forEach( function( member ) { if( member.name !== previous ) { previous = member.name; ?>
				<li>
					<a href="#!<?js= member.longname.replace( '#', '-' )  ?>"
						title="<?js= member.summary_plain ?>"
						data-name="<?js= member.name ?>"
						<?js if(member.since) {?>data-since="<?js= member.since ?>"<?js } ?>
						<?js if(member.importance) {?>data-importance="<?js= member.importance ?>"<?js } ?>>
						<?js= member.name ?><span class="brackets">( )</span>
						<?js= member.important ? '<i class="important" title="'+self.lang.important+'"></i>' : '' ?>
						<?js= member.cool ? '<i class="cool" title="'+self.lang.cool+'"></i>' : '' ?>
						<?js if( member.variations && member.variations.length ) { ?>
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						<?js } ?>
					</a>
					<?js if( member.variations && member.variations.length ) { ?>
						<div class="submenu-wrapper">
							<ul data-submenu="!<?js= member.longname.replace( '#', '-' )  ?>">
								<?js member.variations.forEach( function( member ) { ?>
									<li>
										<a href="#!<?js= member.longname.replace( '#', '-' ) ?>"
											title="<?js= member.summary_plain ?>"
											data-name="<?js= member.name ?>#<?js= member.variation ?>"
											<?js if(member.since) {?>data-since="<?js= member.since ?>"<?js } ?>
											<?js if(member.importance) {?>data-importance="<?js= member.importance ?>"<?js } ?>>
											#<?js= member.variation ?>
										</a>
									</li>
								<?js }); ?>
							</ul>
						</div>
					<?js } ?>
			<?js } }); ?>
			<?js _class.staticMembers.member.forEach( function( member ) { if( member.name !== previous ) { previous = member.name; ?>
				<li>
					<a
						href="#!<?js= member.longname ?>"
						title="<?js= member.summary_plain ?>"
						data-name="<?js= member.name ?>"
						<?js if(member.since) {?>data-since="<?js= member.since ?>"<?js } ?>
						<?js if(member.importance) {?>data-importance="<?js= member.importance ?>"<?js } ?>>
						<?js= member.name ?>
						<?js= member.important ? '<i class="important" title="'+self.lang.important+'"></i>' : '' ?>
						<?js= member.cool ? '<i class="cool" title="'+self.lang.cool+'"></i>' : '' ?>
					</a>
				</li>
			<?js } }); ?>
			<?js _class.staticMembers['function'].forEach( function( member ) { if( member.name !== previous ) { previous = member.name; ?>
				<li>
					<a
						href="#!<?js= member.longname ?>"
						title="<?js= member.summary_plain ?>"
						data-name="<?js= member.name ?>"
						<?js if(member.since) {?>data-since="<?js= member.since ?>"<?js } ?>
						<?js if(member.importance) {?>data-importance="<?js= member.importance ?>"<?js } ?>>
						<?js= member.name ?><span class="brackets">( )</span>
						<?js= member.important ? '<i class="important" title="'+self.lang.important+'"></i>' : '' ?>
						<?js= member.cool ? '<i class="cool" title="'+self.lang.cool+'"></i>' : '' ?>
					</a>
				</li>
			<?js } }); ?>
			<?js if( _class.binders ) { ?>
				<li>
					<a href="#!<?js= obj.binders.longname ?>" title="<?js= obj.binders.summary_plain ?>" data-name="<?js= obj.binders.name ?>">
						<?js= obj.binders.name ?>
						<span class="expand"></span>
						<span class="hidden-active-child"></span>
					</a>
					<div class="submenu-wrapper">
						<ul data-submenu="!<?js= obj.binders.longname ?>">
							<?js obj.binders.members.forEach( function( member ) { ?>
								<li>
									<a
										href="#!<?js= member.longname.replace( '#', '-' ) ?>"
										title="<?js= member.summary_plain ?>"
										data-name="binders.<?js= member.name ?>"
										<?js if(member.since) {?>data-since="<?js= member.since ?>"<?js } ?>
										<?js if(member.importance) {?>data-importance="<?js= member.importance ?>"<?js } ?>>
										<?js= member.name ?><span class="brackets">( )</span>
									</a>
								</li>
							<?js }); ?>
						</ul>
					</div>
				</li>
			<?js } ?>
		</ul>
	</div>
<?js } ?>
<?js obj.globals.forEach( function( member ) {?>
<a
	href="#!<?js= member.longname ?>"
	title="<?js= member.summary_plain?>"
	<?js if(member.since) {?>data-since="<?js= member.since ?>"<?js } ?>
	<?js if(member.importance) {?>data-importance="<?js= member.importance ?>"<?js } ?>
>
	<?js= member.name ?>
	<?js= member.important ? '<i class="important" title="'+self.lang.important+'"></i>' : '' ?>
	<?js= member.cool ? '<i class="cool" title="'+self.lang.cool+'"></i>' : '' ?>
</a>
<?js}, this );?>
