<!--<div class="logos hide">
    <div  class="col s12 m6 offset-m3">
        <h4>Who's using Matreshka?</h4>
        <p>
            <a target="_blank" href="http://shooju.com/" title="Shooju"><img src="img/logos/shooju.png"></a>
            <a target="_blank" href="http://www.etaktiker.ch/" title="eTaktiker"><img src="img/logos/etaktiker.png"></a>
            <a target="_blank" href="https://www.ricardo.ch/" title="ricardo.ch"><img src="img/logos/ricardo.gif"></a>
        </p>
        <details>
            <summary>More info</summary>
            <p>These companies may or may not be using Matreshka on their main web properties, but they're definitely using it somewhere in their organizations.</p>
            <p>
                To add your company or project to this page, <a target="_blank" href="https://github.com/finom/matreshka_website/issues/new?title=New+User%3A+%5Binsert+name%5D%0A&body=Please+fill+the+following+out%3A%0A%0A-+Name%3A+%28correctly+formatted%29%0A-+Homepage+url%3A+%28homepage%2Fprimary+entry+point+for+users%29%0A-+Brand+Guidelines%2FLicensing%3A+%28or+anything+we+need+to+know+before+using+your+logo%29%0A-+Logo%3A+%28svg+if+possible%2C+pngs+over+500x200px+with+transparent+backgrounds+are+also+acceptable%29">please open an issue.</a>
            </p>
        </details>
    </div>
</div>--> 

<details class="thanks">
    <summary>Special thanks to...</summary>
    <p><a target="_blank" href="https://www.upwork.com/o/profiles/users/_~0143bee1839cf89f7a/">Alexander Kolodko</a> for awesome logo.</p>
    <p>Chris Opler for $600 donation.</p>
</details>
