<div class="perf-graph-wrapper" data-since="1.1">
    <div class="perf-graph">
        <div class="column mk">
            <span class="fw-name">Matreshka</span>
        </div>
        <div class="column rt">
            <div class="slower"><span></span>% slower</div>
            <span class="fw-name">React</span>
        </div>
        <div class="column kk">
            <div class="slower"><span></span>% slower</div>
            <span class="fw-name">Knockout</span>
        </div>
        <div class="column ng">
            <div class="slower"><span></span>% slower</div>
            <span class="fw-name">Angular</span>
        </div>
    </div>

    <label># of collection items</label>
    <select class="perf-count">
        <option value="10">10 items</option>
        <option value="50">50 items</option>
        <option value="100" selected>100 items</option>
        <option value="500">500 items</option>
        <option value="1000">1000 items</option>
    </select>

    <label>Browser</label>
    <select class="perf-browser">
        <option value="chrome" selected>Chrome
        <option value="firefox">Firefox
        <option value="safari">Safari
        <option value="ie">Internet Explorer
    </select>

    <p><br>Based on <a class="benchmark-url" target="_blank">this</a> benchmark<br><br>
        And check out <a href="http://mathieuancelin.github.io/js-repaint-perfs/matreshka/index.html">DMBON test</a>
    </p>

</div>
