<section id="promo">
	<article id="!home">
		<img src="img/mk5-logo_matreshka.svg" class="mk-logo-matreshka">
		<img src="img/mk5-logo_text.svg" class="mk-logo-text">
		<span class="version">v{{ site.data.package.version }}</span>
		<div class="demo">
			<output class="out">The easiest framework in the Universe</output>
			<input type="text" class="in">
			<pre class="prettyprint lang-html"><code>&lt;input class=&quot;in&quot; type=&quot;text&quot;&gt;
&lt;output class=&quot;out&quot;&gt;&lt;/output&gt;

&lt;script src=&quot;matreshka.min.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;
var app = new Matreshka();
app.bindNode('x', '.in, .out');
app.x = 'The easiest framework in the Universe';
&lt;/script&gt;</code></pre>
		</div>
		<p>
			<a href="https://github.com/finom/matreshka/archive/v{{ site.data.package.version }}.zip" download class="download-btn">Download <i></i></a>
			<a href="https://github.com/finom/matreshka" class="github-btn">Github <i></i></a>
		</p>

		<div class="social">
			<a href="https://twitter.com/matreshkajs" class="social-twitter">matreshkajs</a>
			<a href="https://www.facebook.com/matreshkajs/" class="social-fb">matreshkajs</a>
			<a href="http://matreshka.io/forum" class="social-forum">Forum</a>
			<a href="https://gitter.im/matreshkajs/matreshka" class="social-gitter">Chat on Gitter</a>
		</div>

		<div class="sponsors">
			<h3>Who's helping to the project?</h3>
			<div class="main-sponsor">
				The main sponsor<br>
			    <a href="http://shooju.com" target="_blank"><img src="img/logos/shooju.png"></a>
			</div>
			<a href="http://habrahabr.ru/company/matreshka/"><img src="img/logos/habrahabr.svg" height="70"></a>
			<a href="https://www.browserstack.com/"><img src="img/logos/browserstack.svg" height="60"></a>
		</div>
		{% include en/performance.html %}
		{% include en/extras.html %}
	</article>
</section>
