$sidenav-width: 240px;
$header-height: 56px;
$primary-color: #8BC34A;
$secondary-color: #ef5350;
$text-color: rgba(#000,.9);
$gray-color: rgba(0, 0, 0, 0.1);



.imp-level-1 {
	background-image: inline-image("./imp-level-1.svg")
}

.imp-level-2 {
	background-image: inline-image("imp-level-2.svg")
}

.imp-level-3 {
	background-image: inline-image("imp-level-3.svg")
}


.hide {
	display: none !important;
}


* { box-sizing: border-box; }


html {
	body[data-view="per-one"] {
		article:not([data-typedef]) {
			display: none;
			&:target {
				display: block;
			}
		}

		.pagination {
			display: block;
		}
	}
}

strong, b {
	font-weight: bold;
}

pre {
	overflow: auto;
}

.overlay {
	opacity: 0;
	cursor: pointer;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background: #000;
	transition: opacity 0.4s ease-in-out;
}

.prettyprint {
	font-size: 1rem;
	border: 0;
	background-color: #f9f9f9;
	margin-bottom: 1rem;
	tab-size: 4;
	-moz-tab-size: 4;
	position: relative;
}

.close-modal {
	@extend .mdi, .mdi-navigation-close;
	position: absolute;
	padding: 5px;
	top: 5px;
	right: 7px;
	cursor: pointer;
	font-size: 1.5rem;
	opacity: .5;
	&:hover {
		opacity: 1;
	}
}

a {
	text-decoration: none;
}

.modal {
	@media screen and (min-width:0\0) and (min-resolution: .001dpcm) {
		// IE9 CSS
		width: 700px;
		margin: 0 0 0 -350px;
		left: 50%;
	}


	_:-ms-fullscreen, :root & {
		// IE11 CSS
		width: 700px;
		margin: 0 0 0 -350px;
		left: 50%;
	}
}

.m-account input[type="checkbox"] {
	position: static;
}

summary {
	color: #1E88E5;
	//text-decoration-line: underline;
    //text-decoration-style: dashed;
    //text-decoration-color: #1E88E5;
	cursor: pointer;
	&:focus {
		outline: none;

	}
}

a[href*="//"] {
	&::after {
		content: '\2197';
	    font-weight: normal;
	    vertical-align: middle;
	    display: inline-block;
	    line-height: 1em;
	    font-size: .8em;
	    margin-bottom: .2em;
	    margin-left: .3em;
	}

	&.no-arrow::after {
		content: none;
	}
}

h1, h2, h3, h4, h5, h6 {}

body {
	padding-bottom: 1rem;
	.gitter-open-chat-button {
		background-color: #8BC34A;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		padding: 0.5rem 2rem ;

		@media #{$small-and-down} {
			display: none;
		}

		&:hover {
			background-color: #71a437;
		}
	}

	.gitter-chat-embed {
		border: 0;
	}
}
