header {
	padding-left: $sidenav-width;
	background-color: $primary-color;
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	line-height: $header-height;
	font-size: 1.5rem;
	z-index: 1;

	@include box-shadow(0 1px 2px 0 rgba(#000,.3));

	&.search-mode {
		background-color: white;
		color: $text-color;
	}

	&.search-mode {
		.header-content {
			display: none;
		}

		.search-content {
			display: block;
		}
	}

	.header-content {

	}



	.search-results-dropdown {
		position: absolute;
		top: $header-height;
		background: white;
		width: 100%;
		@extend .dropdown-content;
		color: $text-color;
		display: block;
		opacity: 1;
		max-height: none;
		li {
			line-height: $header-height;
			font-size: 1rem;
			&:hover, &.active {
				background-color: rgba(0, 0, 0, 0.06);
			}
			span:not([data-type]), a {
				display: inline;
				padding: 0;
			}
			padding-left: 30px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		a {
			color: $text-color;
		}

		.memberof, .signature {
			color: rgba(#000,.3);
		}
	}

	.search-content {
		display: none;
		.search {
			font-size: 1.5rem;
			width: 80%;
			width: calc( 100% - 70px );
			float: left;
			margin-bottom: 0;
			height: $header-height - 10px;
			margin-top: 5px;
			&, &:focus {
				border-bottom: none;
				box-shadow: none;
			}
		}

		i.back {
			float: left;
			padding-left: 5px;
			@extend .mdi-navigation-arrow-back;
		}
	}

	.inner {
		width: 85%;
		margin: 0 auto;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		height: $header-height;
	}

	a {
		color: white;
	}

	[data-type] {
		line-height: 1.5rem;
	}


	i {
		@extend .mdi;
		padding: 0 5px;
		cursor: pointer;
		font-size: 1.7rem;
	}

	i.show-nav {
		@extend .mdi-navigation-menu;
		float: left;
		display: none;
		padding-left: 5px;
	}

	i.show-search {
		@extend .mdi-action-search;
		float: right;
		position: absolute;
		top: 0;
		right: 5px;
	}

	.default-value {
		display: none;
	}

	@media #{$medium-and-down} {
		font-size: 1.5rem;
		padding-left: 0;

		.inner {
			width: auto;
			margin-right: 57px;
		}

		i.show-nav {
			display: inline-block;
		}

		.returns, .default-value, .memberof {
			display: none!important;
		}
	}

	@media #{$small-and-down} {
		.type {
			display: none!important;
		}
		.search-results-dropdown li {
			line-height: 38px;
		}
	}

	&.hidden {
		transform: translateY(-$header-height);
	}

	@include transition-property(#{"background-color, color, transform"});
	@include transition-duration(.1s);
	@include transition-timing-function(ease-in-out);

}
