main {
	padding-left: $sidenav-width;
	@media #{$medium-and-down} {
		padding-left: 0;
	}

	section {
		width: 85%;
		margin: 0 auto;
	}

	article {
		padding-top: $header-height;
		max-width: 700px;

		.share-buttons {
			float: right;
			margin-top: 1rem;
		}

		.share-facebook, .share-twitter {
			height: 2rem;
			cursor: pointer;
			background-repeat: no-repeat;
			background-size: cover;
			display: inline-block;
		}

		.share-facebook {
			width: 2rem;
			background-image: inline-image("facebook-icon.svg");
		}

		.share-twitter {
			margin-left: .5rem;
			background-image: inline-image("twitter-icon.svg");
			width: 2rem*1.22;
		}

		@media #{$small-and-down} {
			&.new {
				h2 a {
					padding-left: 0;
				}
				.new-badge {
					display: none;
				}
			}
		}


	}

	[id="!examples"] {
		[href^="http://gh-embed.matreshka.io"] {
			border-bottom: 1px dashed currentColor;
			&::after {content: none;}
		}

		.list-item-number {
			color: #bbb;
		}

		iframe {
			margin-top: 1rem;
		}
	}

	i[class|="imp-level"] {
		display: inline-block;
		vertical-align: middle;
		width: 1em;
		height: 1em;
	}

	section.api {
		article {
			h2 {
				&::after {
					@extend .imp-level-2;
					content: '';

					width: 2rem;
					height: 2rem;
					display: inline-block;
					margin-left: 5px;
					vertical-align: middle;
				}
			}

			&[data-importance="1"] h2::after {
				@extend .imp-level-1;
			}

			&[data-importance="3"] h2::after {
				@extend .imp-level-3;
			}
		}

	}

	h1, h2, h3, h4 {
		font-weight: 300;
		position: relative;

		a {
			color: $primary-color;
		}
	}


	h2 {
		font-size: 2.5rem;
		margin-top: 0;
		margin-bottom: 1rem;
		overflow: hidden;
		text-overflow: ellipsis;

		@media #{$small-and-down} {
			.default-value, .signature {
				display: none;
			}
		}

		@media #{$medium-and-down} {
			font-size: 2rem;
			.memberof {
				display: block;
				font-size: 1rem;
			}
			.signature {
				font-size: 1rem;
				float: left;
			}
		}
	}

	h3 {
		font-size: 1.5rem;
		margin-bottom: .5rem;
	}

	h4 {
		font-size: 1.2rem;
		margin-bottom: .5rem;
	}

	h5 {
		font-size: 1rem;
	}

	p {
		margin-bottom: 1rem;

		&:first-child {
			margin-bottom: 1rem;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}




	.signature, .memberof, .signature-class {
		color: rgba(#000,.3);
	}

	.comments {
		cursor: pointer;
		margin-top: 10px;

		@extend .btn;
		color: $primary-color;
		background-color: #fff;
		&:hover {
			background-color: #fff;
		}
		i {
			margin-left: 15px;
			@extend .mdi, .mdi-communication-comment;
		}
	}

	.description {
		margin-bottom: 1rem;
	}

	.pagination {
		display: none;
		margin: 1.5rem 0;
		.previous-page {
			&:empty {
				display: none!important;
			}
			&::before {
				content: '\2190 ';
			}
		}

		.next-page {
			float: right;
			&:empty {
				display: none!important;
			}
			&::after {
				content: ' \2192';
			}
		}
	}

	ol, ul {
		list-style-position: inside;
	}

	ul {
		margin-bottom: 1rem;
		li {
			list-style-type: disc;
			margin-left: 20px;
		}
	}

	img {
		max-width: 100%;
	}


	div.summary {
		margin-bottom: 1rem;

		&::before {
			content: '\2014';
			float: left;
			padding-right: 4px;
		}


	}

	.event {
		padding: 3px 8px;
		background-color: #f9f9f9;
		border-radius: 2px;
		font-size: 1rem;
		font-family: monospace;
		vertical-align: middle;
		display: inline-block;
		margin: 1px;
	}

	code {
		color: #8959a8;
	}

	code.hljs {
		border: 2px dashed #e5e5e5;
		margin-bottom: 1rem;
	}
}
