#promo {
	background-color: #fff;
	margin: 0;
	width: 100%;
	text-align: center;
	font-weight: 300;

	a::after { content: none; }

	.pagination a::after {
		content: ' \2192';
	}

	article {
		padding-top: 100px;
		max-width: none;
	}

	.pagination:first-child {
		display: none;
	}

	.version {
		color: #999;
		display: inline-block;
		vertical-align: top;
		margin-top: 30px;
		margin-left: 15px;
		font-size: 1.5rem;
	}


	img {
		max-width: 90%;
	}

	.logo-seemple {
		max-height: 100px;
		max-width: 100%;
	}

	@media #{$medium-and-down} {
		.version {
			display: block;
			margin: 0;
		}

		.mk-logo-text {
			display: block;
			margin: 0 auto;
			margin-top: 25px;
		}
	}

	h1 {
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 4rem;
		@media #{$small-and-down} {
			font-size: 3rem;
		}

	}

	.demo {
		width: 100%;
		max-width: 750px;
		min-width: 300px;
		margin: 0 auto;
		position: relative;

		input, output {
			width: 100%;
			box-sizing: border-box;
		}

		output {
			font-size: 1.5rem;
			margin-top: 1rem;
			display: block;
		}

		input {
			margin-top: 1rem;
			height: 2rem;
			padding: 0 1rem;
			border: 1px solid #ccc;
			max-width: 700px;

			&:focus {
				border-bottom: 1px solid #ccc;
				box-shadow: none;
			}
		}

		code, pre {
			text-align: left!important;
		}

		pre {
			max-width: 700px;
			margin: 0 auto;
		}
	}



	.download-btn, .github-btn {
		vertical-align: top;
		font-size: 1rem;
		@extend .btn;
		margin-top: 20px;

		i {
			display: inline-block;
		}
	}

	.download-btn i {
		@extend .mdi, .mdi-file-file-download;
		margin-left: 15px;
	}

	.github-btn i::after {
		content: '';
		display: inline-block;
		vertical-align: top;
		background: inline-image("github-logo.svg") no-repeat;
		background-size: cover;
		height: 18px;
		width: 18px;
		margin-left: 15px;
		margin-top: 8px;
	}

	.next-page {
		display: block;
		float: none;
		margin-top: 4rem;
		font-size: 1.5rem;
	}

	.sponsors {
		margin-top: 4rem;
		img {
			margin: 1rem 1rem;
		}
	}

	.main-sponsor {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	.thanks {
		summary {

			//font-size: 1.5rem;
		}
		margin-top: 4rem;
	}

	.logos {
		margin-top: 4rem;
		summary {
			color: #aaa;
		}
		img {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			opacity: .5;
			width: 100%;
			max-width: 250px;
			margin: 0 1rem;

			&:hover {
				-webkit-filter: none;
				filter: none;
				opacity: 1;
			}
		}
	}

	.social {
		margin-top: 40px;
		& > a {
			display: inline-block;
			margin-left: 25px;
			&:first-child {
				margin-left: 0;
			}
			&::before {
				content: '';
				display: inline-block;
				width: 18px;
				height: 16px;
				background-position: center right;
				background-repeat: no-repeat;
				margin-right: 6px;
				vertical-align: top;
				margin-top: 4px;
			}
		}


		.social-twitter::before {
			background-image: inline-image('twitter.svg');
		}

		.social-vk::before {
			background-image: inline-image('vk.svg');
		}

		.social-forum::before {
			background-image: inline-image('forum.svg');
		}

		.social-gitter::before {
			margin-top: 3px;
			background-image: inline-image('gitter.svg');
		}

		.social-fb {
			margin-left: 18px;
		}

		.social-fb::before {
			background-image: inline-image('fb.svg');
		}
	}
}
