[id="!caniuse"] {
    td, th {
        border-radius: 0;
        text-align: center;
    }
    .yep {
        background: #8BC34A;
    }
    .nope {
        background: #EF5350;
    }
    .na {
        background: #B0BEC5;
    }
    .warn {
        background: #FFD740;
    }

    .legend {
        margin-top: 1rem;
        li {
            list-style: none;
            margin: 0;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            height: 1.5rem;
            width: 3rem;
            margin: 1px;
        }
    }
}
