<table>
    <col width="11.1111%">
    <col width="11.1111%">
    <col width="11.1111%">
    <col width="11.1111%">
    <col width="11.1111%">
    <col width="11.1111%">
    <col width="11.1111%">
    <col width="11.1111%">
    <col width="11.1111%">
    <thead>
        <tr>
            <th>Firefox
            <th>Chrome
            <th>Opera
            <th>Internet Explorer
            <th>Safari
            <th>iOS Safari
            <th>Opera Mini
            <th>Android Browser
            <th>Yandex Browser
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="nope">&lt;8
            <td class="na">&lt;14
            <td class="nope">&lt;11.6
            <td class="nope">&lt;9 *
            <td class="nope">&lt;5
            <td class="nope">&lt;4
            <td class="na">&lt;11
            <td class="na">&lt;2.2
            <td class="na">&lt;14
        </tr>
        <tr>
            <td class="yep">8+
            <td class="yep">14+
            <td class="yep">11.6+
            <td class="yep">9+
            <td class="yep">5+
            <td class="yep">4+
            <td class="yep">11+
            <td class="yep">2.2+
            <td class="yep">14+
        </tr>
    </tbody>
</table>
