<nav>
	<span class="view-switcher">
		<span data-value="all" class="checked">Все відразу</span><span data-value="per-one">По одному</span>
	</span>
	<a class="patreon-support" href="https://www.patreon.com/finom">Matreshka.js на Patreon</a>
	<a class="patreon-backed" href="https://www.patreon.com/finom">
		Patreon: <strong>$<span class="patreon-sum"></span></strong> з $<span class="patreon-goal"></span>
	</a>
	<span class="nav-heading">Старт</span>
	<a href="#!home">Головна</a>
	<a href="#!introduction">Вступ</a>
	<a href="#!website-instructions">Про документацію</a>
	<a href="#!examples">Приклади</a>
	<a href="#!donate">Donate</a>

	<hr>
	<span class="nav-heading">API</span>
	<label class="doc-importance">
		<input type="checkbox"> Розширений режим <a href="#!website-instructions">(?)</a>
	</label>
	<div class="api">
		<%- include('temp/doc_menu.html') %>
	</div>
	<hr>
	<span class="nav-heading">Інформація</span>
	<a href="#!faq">FAQ</a>
	<hr>
	<span class="nav-heading">Посилання</span>
	<%- include('../common/links.html') %>

	<span class="nav-heading">Інщі мови</span>
	<a href="//matreshka.io/" class="another-language"><i></i> In English</a>
	<a href="//ru.matreshka.io/" class="another-language"><i></i> На русском</a>

	<a>Оновлено <%= updatedDate %></a>
</nav>
