<%- include('nav.html') %>

<main>
	<%- include('promo.html') %>
	<section>
		<article id="!introduction">
			<%- include('introduction.md') %>
		</article>
		<article id="!website-instructions">
			<%- include('website-instructions.md') %>
		</article>
		<article id="!examples">
			<%- include('examples.md') %>
		</article>
		<article id="!donate">
			<%- include('donate.md') %>
		</article>
	</section>
	<%- include('temp/doc_content.html') %>
	<section>
		<article id="!faq">
			<%- include('faq.md') %>
		</article>
	</section>

</main>
<%- include('helpers.html') %>
