<%= "foo" %>
noooooo
---
layout: main
title: Matreshka JavaScript Framework
description: Feel the power of accessors. The first framework which is hacked JavaScript.
lang: en
---

{% include en/nav.html %}

<main>
	{% include en/promo.html %}
	{% include en/doc_content.html %}
	{% include en/other.html %}
</main>
{% include en/helpers.html %}
<script>
	setTimeout(function() {
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	    ga('create', 'UA-12418613-4', 'auto');
	    ga('send', 'pageview');
	}, 0);

</script>
