<%
	var options = htmlWebpackPlugin.options;
	var page = require('./' + options.language + '/page.yaml');
	function include(name) {
		var path = require('path');
		var content = require('./' + path.join(options.language, name));
		content = typeof content === 'function' ? content(data) : content;
		content = require('../jsdoc-template/resolve-links')(content);
		return content;
	}
	var currentDate = new Date();
	var updatedDate = [
		currentDate.getDate(),
		currentDate.getMonth() + 1,
		currentDate.getFullYear()
	].join('.')

	data = { options: options, include: include, page: page, updatedDate: updatedDate };
%>

<!DOCTYPE html>
<html>

	<head>
		<title><%= page.title %></title>
		<meta name="description" content="<%= page.description %>">
		<link rel="stylesheet" href="css/fonts.css">
		<link rel="stylesheet" href="css/style.css">
		<meta name="viewport" content="initial-scale=1, width=device-width">
		<meta charset="UTF-8">
		<link rel="apple-touch-icon" sizes="57x57" href="icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="icons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="icons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="icons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="icons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="icons/favicon-194x194.png" sizes="194x194">
		<link rel="icon" type="image/png" href="icons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="icons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="icons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="icons/manifest.json">
		<link rel="shortcut icon" href="icons/favicon.ico">
		<link rel="dns-prefetch" href="//google-analytics.com/">
		<meta name="apple-mobile-web-app-title" content="{{ page.title }}">
		<meta name="application-name" content="{{ page.title }}">
		<meta name="msapplication-TileColor" content="#00aba9">
		<meta name="msapplication-TileImage" content="icons/mstile-144x144.png">
		<meta name="msapplication-config" content="icons/browserconfig.xml">
		<meta name="theme-color" content="#8BC34A">
		<meta name="google-site-verification" content="h6PRRaItZUtT98WEfeFWdOwlBs3eYUaq4EnFjBLtvAM">
		<meta property="og:image" content="http://matreshka.io/img/mk_logo.png">
		<script>
		// remove loader on slow load
		setTimeout(function() {
			document.querySelector('.loader').className += ' hide';
		}, 10000);
		</script>
		<style>
			.loader {
				position: fixed;
				width: 100%;
				height: 100%;
				z-index: 10;
				background: rgba(255,255,255,0.75);
				text-align: center;
			}

			.loader-inner {
				border: 8px solid rgba(100,100,100,0.5);
			    border-radius: 50%;
			    width: 80px;
			    height: 80px;
			    animation: loader-spin 1s linear infinite;

				border-top: 8px solid  #8BC34A;

				position: fixed;
				top: 50%;
				left: 50%;
				margin-top: -40px;
				margin-left: -40px;
			}

			@keyframes loader-spin {
			    0% { transform: rotate(0deg); }
			    100% { transform: rotate(360deg); }
			}
		</style>
	</head>
	<body>
		<div class="loader">
			<div class="loader-inner"> </div>
		</div>

		<header>
			<div class="header-content">
				<i class="show-nav"></i>
				<div class="inner"></div>
				<i class="show-search"></i>
			</div>
			<div class="search-content">
				<i class="back"></i><input type="text" class="search">
				<ul class="search-results-dropdown"></ul>
			</div>
		</header>
		<iframe id="typo-iframe" class="hide" name="typo-iframe"></iframe>
		<iframe id="notification-iframe" class="hide" name="notification-iframe"></iframe>
		<form class="hide notification-form" method="POST" target="notification-iframe">
			<input type="hidden" class="page">
			<input type="hidden" class="text">
			<input type="hidden" class="type">
		</form>
		<%- require('./body.html')(data) %>
		<div class="hide nav-overlay"></div>
		<div class="hide typedef-overlay"></div>
		<div class="hide typo-overlay"></div>
		<script id="pagination-template" type="text/html">
			<div class="pagination">
				<a class="previous-page"></a>
				<a class="next-page"></a>
			</div>
		</script>
	</body>
</html>
