@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Thin.ttf);
    font-weight: 200;
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}