<nav>
	<span class="view-switcher">
		<span data-value="all" class="checked">Всё сразу</span><span data-value="per-one">По одному</span>
	</span>
	<span class="nav-heading">Нужно меньше?</span>
	<a href="https://github.com/defijs/defi" style="text-align: center;">
		<img src="https://defijs.github.io/assets/logo.svg" style="width: 60px;">
	</a>
	<span class="nav-heading">Старт</span>
	<a href="#!home">Главная</a>
	<a href="#!introduction">Введение</a>
	<a href="#!website-instructions">О документации</a>
	<a href="#!examples">Примеры</a>

	<hr>
	<span class="nav-heading">API</span>
	<label class="doc-importance">
		<input type="checkbox"> Продвинутый режим <a href="#!website-instructions">(?)</a>
	</label>
	<div class="api">
		<%- include('temp/doc_menu.html') %>
	</div>
	<hr>
	<span class="nav-heading">Информация</span>
	<a href="#!faq">FAQ</a>
	<hr>
	<span class="nav-heading">Ссылки</span>
	<%- include('../common/links.html') %>
	<a href="http://habrahabr.ru/company/seemple/blog/254889/">От простого к простому</a>
	<a href="http://habrahabr.ru/company/seemple/blog/267513/">События</a>
	<a href="https://habrahabr.ru/company/seemple/blog/277171/">Роутер</a>

	<span class="nav-heading">Другие языки</span>
	<a href="//ua.seemple.io/" class="another-language"><i></i> Українською</a>
	<a href="//seemple.io/" class="another-language"><i></i> In English</a>
	<a>Обновлено <%= updatedDate %></a>
</nav>
