
	<a
		href="#!Matreshka"
		data-name="Matreshka"
		data-importance="1"
	>
		<b>Matreshka</b>

		<i class="important" title="Важно"></i>
		<span class="expand"></span>
		<span class="hidden-active-child"></span>
	</a>
	<div class="submenu-wrapper">
		<ul data-submenu="!Matreshka">

			
				<li><span class="nav-heading" data-importance="1">Методы</span></li>
			
			
				<li>
					<a href="#!Matreshka-$(instance)"
						title="Делает то же самое, что и Matreshka#selectAll"
						data-name="$"
						
						data-importance="2">
						$
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-$bound"
						title="Делает то же самое, что и Matreshka#boundAll"
						data-name="$bound"
						
						data-importance="3">
						$bound
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-bindNode"
						title="Связывает свойство объекта с HTML элементом"
						data-name="bindNode"
						
						data-importance="1">
						bindNode
						<i class="important" title="Важно"></i>
						<i class="cool" title="Крутой метод или свойство"></i>
						
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						
					</a>
					
						<div class="submenu-wrapper">
							<ul data-submenu="!Matreshka-bindNode">
								
									<li>
										<a href="#!Matreshka-bindNode(2)"
											title="Альтернативный синтаксис: пары &quot;ключ-элемент&quot;"
											data-name="bindNode#2"
											
											data-importance="2">
											#2
										</a>
									</li>
								
									<li>
										<a href="#!Matreshka-bindNode(3)"
											title="Альтернативный синтаксис &quot;куча аргументов&quot;"
											data-name="bindNode#3"
											
											data-importance="2">
											#3
										</a>
									</li>
								
							</ul>
						</div>
					
			
				<li>
					<a href="#!Matreshka-bindOptionalNode"
						title="Работает в точности так же, как и Matreshka#bindNode но не бросает исключение, если аргумент node - пустой массив, undefined или не существует"
						data-name="bindOptionalNode"
						data-since="0.3"
						data-importance="2">
						bindOptionalNode
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-bindSandbox"
						title="Привязывает песочницу"
						data-name="bindSandbox"
						data-since="1.5"
						data-importance="3">
						bindSandbox
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-bound"
						title="Возвращает первый привязанный элемент или null"
						data-name="bound"
						
						data-importance="3">
						bound
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-boundAll"
						title="Возвращает коллекцию привязанных элементов"
						data-name="boundAll"
						
						data-importance="3">
						boundAll
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-define"
						title="Полностью переписывает дескриптор свойства, используя Object.defineProperty"
						data-name="define"
						
						data-importance="3">
						define
						
						
						
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						
					</a>
					
						<div class="submenu-wrapper">
							<ul data-submenu="!Matreshka-define">
								
									<li>
										<a href="#!Matreshka-define(2)"
											title="Альтернативный синтаксис для метода Matreshka#define &quot;ключ-дескриптор&quot;"
											data-name="define#2"
											
											data-importance="3">
											#2
										</a>
									</li>
								
							</ul>
						</div>
					
			
				<li>
					<a href="#!Matreshka-defineGetter"
						title="Устанавливает кастомный геттер для свойства"
						data-name="defineGetter"
						
						data-importance="3">
						defineGetter
						
						
						
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						
					</a>
					
						<div class="submenu-wrapper">
							<ul data-submenu="!Matreshka-defineGetter">
								
									<li>
										<a href="#!Matreshka-defineGetter(2)"
											title="Альтернативный синтаксис метода Matreshka#defineGetter для установки геттера &quot;ключ-геттер&quot;"
											data-name="defineGetter#2"
											
											data-importance="3">
											#2
										</a>
									</li>
								
							</ul>
						</div>
					
			
				<li>
					<a href="#!Matreshka-defineSetter"
						title="Устанавливает кастомный сеттер для свойства"
						data-name="defineSetter"
						
						data-importance="3">
						defineSetter
						
						
						
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						
					</a>
					
						<div class="submenu-wrapper">
							<ul data-submenu="!Matreshka-defineSetter">
								
									<li>
										<a href="#!Matreshka-defineSetter(2)"
											title="Альтернативный синтаксис метода Matreshka#defineSetter для установки сеттера &quot;ключ-сеттер&quot;"
											data-name="defineSetter#2"
											
											data-importance="3">
											#2
										</a>
									</li>
								
							</ul>
						</div>
					
			
				<li>
					<a href="#!Matreshka-delay"
						title="Выполняет функцию после заданной задержки"
						data-name="delay"
						data-since="0.3"
						data-importance="3">
						delay
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-get"
						title="Возвращает значение свойства"
						data-name="get"
						
						data-importance="3">
						get
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-getAnswerToTheUltimateQuestionOfLifeTheUniverseAndEverything"
						title="Выдаёт ответ на главный вопрос жизни, Вселенной и всего такого через 7.5 миллионов лет"
						data-name="getAnswerToTheUltimateQuestionOfLifeTheUniverseAndEverything"
						data-since="0.4"
						data-importance="3">
						getAnswerToTheUltimateQuestionOfLifeTheUniverseAndEverything
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-linkProps"
						title="Создает зависимость значения одного свойства от значений других"
						data-name="linkProps"
						data-since="0.1"
						data-importance="1">
						linkProps
						
						<i class="cool" title="Крутой метод или свойство"></i>
						
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						
					</a>
					
						<div class="submenu-wrapper">
							<ul data-submenu="!Matreshka-linkProps">
								
									<li>
										<a href="#!Matreshka-linkProps(2)"
											title="Дополнительная возможность метода Matreshka#linkProps: зависимость от значений свойств других объектов"
											data-name="linkProps#2"
											data-since="0.2"
											data-importance="1">
											#2
										</a>
									</li>
								
							</ul>
						</div>
					
			
				<li>
					<a href="#!Matreshka-mediate"
						title="Трансформирует значение свойства при его изменении"
						data-name="mediate"
						data-since="0.1"
						data-importance="2">
						mediate
						
						<i class="cool" title="Крутой метод или свойство"></i>
						
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						
					</a>
					
						<div class="submenu-wrapper">
							<ul data-submenu="!Matreshka-mediate">
								
									<li>
										<a href="#!Matreshka-mediate(2)"
											title="Альтернативный синтаксис метода Matreshka#mediate, принимающий в качестве аргумента объект &quot;ключ-медиатор&quot;"
											data-name="mediate#2"
											data-since="0.1"
											data-importance="2">
											#2
										</a>
									</li>
								
							</ul>
						</div>
					
			
				<li>
					<a href="#!Matreshka-off"
						title="Удаляет обработчик события"
						data-name="off"
						
						data-importance="1">
						off
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-on"
						title="Добавляет обработчик события"
						data-name="on"
						
						data-importance="1">
						on
						<i class="important" title="Важно"></i>
						<i class="cool" title="Крутой метод или свойство"></i>
						
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						
					</a>
					
						<div class="submenu-wrapper">
							<ul data-submenu="!Matreshka-on">
								
									<li>
										<a href="#!Matreshka-on(2)"
											title="Альтернативный синтаксис: пары &quot;событие-обработчик&quot;"
											data-name="on#2"
											data-since="1.1"
											data-importance="2">
											#2
										</a>
									</li>
								
							</ul>
						</div>
					
			
				<li>
					<a href="#!Matreshka-onDebounce"
						title="Добавляет обработчик события, вызываемый лишь однажды за определенный промежуток времени"
						data-name="onDebounce"
						
						data-importance="2">
						onDebounce
						
						
						
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						
					</a>
					
						<div class="submenu-wrapper">
							<ul data-submenu="!Matreshka-onDebounce">
								
									<li>
										<a href="#!Matreshka-onDebounce(2)"
											title="Альтернативный синтаксис: пары &quot;событие-обработчик&quot;"
											data-name="onDebounce#2"
											data-since="1.1"
											data-importance="2">
											#2
										</a>
									</li>
								
							</ul>
						</div>
					
			
				<li>
					<a href="#!Matreshka-once"
						title="Добавляет обработчик событий, который может быть вызван однажды"
						data-name="once"
						
						data-importance="2">
						once
						
						
						
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						
					</a>
					
						<div class="submenu-wrapper">
							<ul data-submenu="!Matreshka-once">
								
									<li>
										<a href="#!Matreshka-once(2)"
											title="Альтернативный синтаксис: пары &quot;событие-обработчик&quot;"
											data-name="once#2"
											data-since="1.1"
											data-importance="2">
											#2
										</a>
									</li>
								
							</ul>
						</div>
					
			
				<li>
					<a href="#!Matreshka-parseBindings"
						title="Парсит DOM дерево, объявляя привязки свойств, заключенных в двойные фигурные скобки."
						data-name="parseBindings"
						data-since="1.1"
						data-importance="2">
						parseBindings
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-remove"
						title="Удаляет свойство"
						data-name="remove"
						
						data-importance="3">
						remove
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-select"
						title="Возвращает элемент из песочницы, соответствующий селектору"
						data-name="select"
						
						data-importance="2">
						select
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-selectAll"
						title="Возвращает элементы из песочницы, соответствующие селектору"
						data-name="selectAll"
						
						data-importance="2">
						selectAll
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-set"
						title="Устанавливает значение свойства, позволяя передать объект события в качестве третьего аргумента"
						data-name="set"
						
						data-importance="1">
						set
						<i class="important" title="Важно"></i>
						
						
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						
					</a>
					
						<div class="submenu-wrapper">
							<ul data-submenu="!Matreshka-set">
								
									<li>
										<a href="#!Matreshka-set(2)"
											title="Альтернативный синтаксис метода Matreshka#set &quot;ключ-значение&quot;"
											data-name="set#2"
											
											data-importance="1">
											#2
										</a>
									</li>
								
							</ul>
						</div>
					
			
				<li>
					<a href="#!Matreshka-setClassFor"
						title="Устанавливает класс для свойства"
						data-name="setClassFor"
						data-since="1.1"
						data-importance="2">
						setClassFor
						
						<i class="cool" title="Крутой метод или свойство"></i>
						
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						
					</a>
					
						<div class="submenu-wrapper">
							<ul data-submenu="!Matreshka-setClassFor">
								
									<li>
										<a href="#!Matreshka-setClassFor(2)"
											title="Альтернативный синтаксис метода Matreshka#setClassFor, принимающий в качестве аргумента объект &quot;ключ-класс&quot;"
											data-name="setClassFor#2"
											data-since="1.1"
											data-importance="2">
											#2
										</a>
									</li>
								
							</ul>
						</div>
					
			
				<li>
					<a href="#!Matreshka-trigger"
						title="Генерирует событие"
						data-name="trigger"
						
						data-importance="1">
						trigger
						<i class="important" title="Важно"></i>
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka-unbindNode"
						title="Разрывает связь между свойством и HTML элементом"
						data-name="unbindNode"
						
						data-importance="2">
						unbindNode
						
						
						
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						
					</a>
					
						<div class="submenu-wrapper">
							<ul data-submenu="!Matreshka-unbindNode">
								
									<li>
										<a href="#!Matreshka-unbindNode(2)"
											title="Альтернативный синтаксис Matreshka#unbindNode &quot;ключ-элемент&quot; для Matreshka#unbindNode"
											data-name="unbindNode#2"
											
											data-importance="2">
											#2
										</a>
									</li>
								
									<li>
										<a href="#!Matreshka-unbindNode(3)"
											title="Альтернативный синтаксис Matreshka#unbindNode &quot;большая куча аргументов&quot;"
											data-name="unbindNode#3"
											
											data-importance="2">
											#3
										</a>
									</li>
								
							</ul>
						</div>
					
			

			
				<li><span class="nav-heading" data-importance="2">Свойства</span></li>
			

			
				<li>
					<a href="#!Matreshka-$nodes"
						title="Объект содержит коллекции (jQuery, Zepto, bQuery) привязанных элементов для быстрого доступа."
						data-name="$nodes"
						data-since="1.1"
						data-importance="2">
						$nodes
						
						
					</a>
				</li>
			
				<li>
					<a href="#!Matreshka-$sandbox"
						title="Свойство содержит HTML песочницу в виде коллекции (jQuery, Zepto, bQuery)"
						data-name="$sandbox"
						data-since="0.4"
						data-importance="2">
						$sandbox
						
						
					</a>
				</li>
			
				<li>
					<a href="#!Matreshka-isMK"
						title="isMK всегда равен true. Это свойство используется для того, чтоб определить, является ли объект экземпляром класса Matreshka"
						data-name="isMK"
						
						data-importance="3">
						isMK
						
						
					</a>
				</li>
			
				<li>
					<a href="#!Matreshka-nodes"
						title="Объект содержит привязанные элементы для быстрого доступа, в виде отдельных DOM узлов."
						data-name="nodes"
						data-since="1.1"
						data-importance="2">
						nodes
						
						
					</a>
				</li>
			
				<li>
					<a href="#!Matreshka-sandbox"
						title="Свойство содержит HTML песочницу"
						data-name="sandbox"
						data-since="0.4"
						data-importance="2">
						sandbox
						
						
					</a>
				</li>
			

			
				<li><span class="nav-heading" data-importance="2">Статичные методы</span></li>
			

			
				<li>
					<a
						href="#!Matreshka.$(static)"
						title="Библиотека, используемая Матрешкой (jQuery, Zepto, bQuery или др.)"
						data-name="$"
						
						data-importance="2">
						$
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.$b"
						title="Встроенная микро-библиотека bQuery"
						data-name="$b"
						
						data-importance="3">
						$b
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.$bound"
						title="Возвращает коллекцию привязанных элементов"
						data-name="$bound"
						data-since="1.1"
						data-importance="3">
						$bound
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.Class"
						title="Содержит ссылку на глобальную функцию Class"
						data-name="Class"
						data-since="0.2"
						data-importance="2">
						Class
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.bindNode"
						title="Связывает свойство объекта с HTML элементом"
						data-name="bindNode"
						data-since="1.1"
						data-importance="3">
						bindNode
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.bindOptionalNode"
						title="Работает в точности так же, как и Matreshka#bindNode но не бросает исключение, если аргумент node - пустой массив, undefined или не существует"
						data-name="bindOptionalNode"
						data-since="1.1"
						data-importance="3">
						bindOptionalNode
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.bound"
						title="Возвращает первый привязанный элемент или null"
						data-name="bound"
						data-since="1.1"
						data-importance="3">
						bound
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.boundAll"
						title="Возвращает коллекцию привязанных элементов"
						data-name="boundAll"
						data-since="1.1"
						data-importance="3">
						boundAll
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.debounce"
						title="Запускает функцию лишь однажды после истечения таймера. С каждой попыткой запуска таймер обновляется"
						data-name="debounce"
						data-since="0.3"
						data-importance="3">
						debounce
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.deepFind"
						title="Возвращает свойство во вложенном объекте"
						data-name="deepFind"
						data-since="1.5"
						data-importance="3">
						deepFind
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.define"
						title="Полностью переписывает дескриптор свойства, используя Object.defineProperty"
						data-name="define"
						data-since="1.1"
						data-importance="3">
						define
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.defineGetter"
						title="Устанавливает кастомный геттер для свойства"
						data-name="defineGetter"
						data-since="1.1"
						data-importance="3">
						defineGetter
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.defineSetter"
						title="Устанавливает кастомный сеттер для свойства"
						data-name="defineSetter"
						data-since="1.1"
						data-importance="3">
						defineSetter
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.each"
						title="Итерирует любой объект, прогоняя каждое его свойство через функцию callback"
						data-name="each"
						
						data-importance="3">
						each
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.extend"
						title="Небольшая вспомогательная функция, которая расширяет один объект свойствами другого объекта"
						data-name="extend"
						
						data-importance="3">
						extend
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.get"
						title="Возвращает значение свойства"
						data-name="get"
						data-since="1.1"
						data-importance="3">
						get
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.linkProps"
						title="Создает зависимость значения одного свойства от значений других"
						data-name="linkProps"
						data-since="1.1"
						data-importance="3">
						linkProps
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.lookForBinder"
						title=""
						data-name="lookForBinder"
						
						data-importance="3">
						lookForBinder
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.mediate"
						title="Трансформирует значение свойства при его изменении"
						data-name="mediate"
						data-since="1.1"
						data-importance="3">
						mediate
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.noop"
						title="Пустая функция, которая ничего не делает"
						data-name="noop"
						
						data-importance="3">
						noop
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.off"
						title="Удаляет обработчик события"
						data-name="off"
						data-since="1.1"
						data-importance="3">
						off
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.on"
						title="Добавляет обработчик события"
						data-name="on"
						data-since="1.1"
						data-importance="3">
						on
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.onDebounce"
						title="Добавляет обработчик события, вызываемый лишь однажды за определенный промежуток времени"
						data-name="onDebounce"
						data-since="1.1"
						data-importance="3">
						onDebounce
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.once"
						title="Добавляет обработчик событий, который может быть вызван однажды"
						data-name="once"
						data-since="1.1"
						data-importance="3">
						once
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.orderBy"
						title="Сортирует переданный массив по значениям свойств объектов, которые в него входят"
						data-name="orderBy"
						data-since="1.6"
						data-importance="3">
						orderBy
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.parseBindings"
						title="Парсит DOM дерево, объявляя привязки свойств, заключенных в двойные фигурные скобки."
						data-name="parseBindings"
						data-since="1.1"
						data-importance="3">
						parseBindings
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.randomString"
						title="Функция, которая возвращает уникальную псевдо-случайную строку"
						data-name="randomString"
						
						data-importance="3">
						randomString
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.remove"
						title="Удаляет свойство"
						data-name="remove"
						data-since="1.1"
						data-importance="3">
						remove
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.select"
						title="Возвращает элемент из песочницы, соответствующий селектору"
						data-name="select"
						data-since="1.1"
						data-importance="3">
						select
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.selectAll"
						title="Возвращает элементы из песочницы, соответствующие селектору"
						data-name="selectAll"
						data-since="1.1"
						data-importance="3">
						selectAll
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.set"
						title="Устанавливает значение свойства, позволяя передать объект события в качестве третьего аргумента"
						data-name="set"
						data-since="1.1"
						data-importance="3">
						set
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.setClassFor"
						title="Устанавливает класс для свойства"
						data-name="setClassFor"
						data-since="1.1"
						data-importance="3">
						setClassFor
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.setProto"
						title="Позволяет установить прототип классу Matreshka"
						data-name="setProto"
						data-since="1.7"
						data-importance="3">
						setProto
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.to"
						title="Функция, конвертирующая произвольную структуру объектов и массивов в экземпляры Matreshka.Object и Matreshka.Array"
						data-name="to"
						data-since="1.1"
						data-importance="3">
						to
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.toArray"
						title="Конвертирует любой array-like объект в обычный массив."
						data-name="toArray"
						data-since="1.1"
						data-importance="3">
						toArray
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.trigger"
						title="Генерирует событие"
						data-name="trigger"
						data-since="1.1"
						data-importance="3">
						trigger
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.trim"
						title="Удаляет пробелы из начала и конца строки"
						data-name="trim"
						data-since="1.1"
						data-importance="3">
						trim
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.unbindNode"
						title="Разрывает связь между свойством и HTML элементом"
						data-name="unbindNode"
						data-since="1.1"
						data-importance="3">
						unbindNode
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.useAs$"
						title="Заставляет использовать определенную библиотеку для работы с DOM"
						data-name="useAs$"
						data-since="0.2"
						data-importance="3">
						useAs$
						
						
					</a>
				</li>
			

			
				<li><span class="nav-heading" data-importance="1">Статичные свойства</span></li>
			
			
				<li>
					<a
						href="#!Matreshka.defaultBinders"
						title="Массив функций, возвращающих соответствующий байндер"
						data-name="defaultBinders"
						
						data-importance="1">
						defaultBinders
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.parserBrackets"
						title="Содержит скобки для парсера"
						data-name="parserBrackets"
						data-since="1.5"
						data-importance="3">
						parserBrackets
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.version"
						title="Версия Матрешки"
						data-name="version"
						
						data-importance="3">
						version
						
						
					</a>
				</li>
			
			
				<li>
					<a href="#!Matreshka.binders" title="" data-name="binders">
						binders
						<span class="expand"></span>
						<span class="hidden-active-child"></span>
					</a>
					<div class="submenu-wrapper">
						<ul data-submenu="!Matreshka.binders">
							
								<li>
									<a
										href="#!Matreshka.binders.html"
										title="Возвращает привязчик, меняющий innerHTML DOM элемента в зависимости от значения свойства экземпляра класса"
										data-name="binders.html"
										data-since="0.1"
										data-importance="2">
										html
									</a>
								</li>
							
								<li>
									<a
										href="#!Matreshka.binders.display"
										title="Возвращает односторонний привязчик, меняющий видимость DOM элемент (используя style.display), в зависимости от значения свойства экземпляра класса"
										data-name="binders.display"
										data-since="0.1"
										data-importance="2">
										display
									</a>
								</li>
							
								<li>
									<a
										href="#!Matreshka.binders.className"
										title="Возвращает привязчик, который переключает имя класса DOM элемента в зависимости от значения свойства экземпляра класса. Если значение свойства нестрого равно true, имя класса добавляется, в противном случае - убирается. Логику можно изменить, добавив восклицательный знак перед именем класса, и, таким образом, имя класса будет добавляться, когда значение свойства нестрого равно false и наоборот."
										data-name="binders.className"
										data-since="0.1"
										data-importance="2">
										className
									</a>
								</li>
							
								<li>
									<a
										href="#!Matreshka.binders.prop"
										title="Возвращает привязчик, меняющий свойство DOM элемента на значение свойства экземпляра класса"
										data-name="binders.prop"
										data-since="0.3"
										data-importance="2">
										prop
									</a>
								</li>
							
								<li>
									<a
										href="#!Matreshka.binders.attr"
										title="Возвращает привязчик, меняющий атрибут DOM элемента на значение свойства экземпляра класса"
										data-name="binders.attr"
										data-since="0.3"
										data-importance="2">
										attr
									</a>
								</li>
							
								<li>
									<a
										href="#!Matreshka.binders.input"
										title="Возвращает привязчик, связывающий свойство экземпляра класса с элементом input. Напрямую привязчик использовать не обязательно, так как он входит в список Matreshka.defaultBinders."
										data-name="binders.input"
										data-since="0.3"
										data-importance="3">
										input
									</a>
								</li>
							
								<li>
									<a
										href="#!Matreshka.binders.output"
										title="Возвращает привязчик, связывающий свойство экземпляра класса с элементом output. Напрямую привязчик использовать не обязательно, так как он входит в список Matreshka.defaultBinders."
										data-name="binders.output"
										data-since="1.4"
										data-importance="3">
										output
									</a>
								</li>
							
								<li>
									<a
										href="#!Matreshka.binders.textarea"
										title="Возвращает привязчик, связывающий свойство экземпляра с элементом textarea. Напрямую привязчик использовать не обязательно, так как он входит в список Matreshka.defaultBinders."
										data-name="binders.textarea"
										data-since="0.3"
										data-importance="3">
										textarea
									</a>
								</li>
							
								<li>
									<a
										href="#!Matreshka.binders.select"
										title="Возвращает привязчик, связывающий свойство экземпляра с элементом select. Напрямую привязчик использовать не обязательно, так как он входит в список Matreshka.defaultBinders."
										data-name="binders.select"
										data-since="0.3"
										data-importance="3">
										select
									</a>
								</li>
							
								<li>
									<a
										href="#!Matreshka.binders.progress"
										title="Возвращает привязчик, связывающий свойство с экземпляра с элементом progress. Напрямую привязчик использовать не обязательно, так как он входит в список Matreshka.defaultBinders."
										data-name="binders.progress"
										data-since="1.1"
										data-importance="3">
										progress
									</a>
								</li>
							
								<li>
									<a
										href="#!Matreshka.binders.text"
										title="Возвращает привязчик, меняющий textContent (текстовое содержимое) DOM элемента в зависимости от значения свойства экземпляра класса."
										data-name="binders.text"
										data-since="1.1"
										data-importance="2">
										text
									</a>
								</li>
							
								<li>
									<a
										href="#!Matreshka.binders.style"
										title="Возвращает привязчик, меняющий заданное свойство стиля DOM элемента в зависимости от значения свойства экземпляра класса."
										data-name="binders.style"
										data-since="1.1"
										data-importance="2">
										style
									</a>
								</li>
							
								<li>
									<a
										href="#!Matreshka.binders.dataset"
										title="Возвращает привязчик, меняющий заданное свойство объекта dataset DOM элемента в зависимости от значения свойства экземпляра класса."
										data-name="binders.dataset"
										data-since="1.1"
										data-importance="2">
										dataset
									</a>
								</li>
							
								<li>
									<a
										href="#!Matreshka.binders.file"
										title="Возвращает привязчик для input[type=&quot;file&quot;]."
										data-name="binders.file"
										data-since="1.1"
										data-importance="2">
										file
									</a>
								</li>
							
						</ul>
					</div>
				</li>
			
		</ul>
	</div>

	<a
		href="#!Matreshka.Object"
		data-name="Object"
		data-importance="1"
	>
		<b>Matreshka.Object</b>

		<i class="important" title="Важно"></i>
		<span class="expand"></span>
		<span class="hidden-active-child"></span>
	</a>
	<div class="submenu-wrapper">
		<ul data-submenu="!Matreshka.Object">

			
				<li><span class="nav-heading" data-importance="1">Методы</span></li>
			
			
				<li>
					<a href="#!Matreshka.Object-addDataKeys"
						title="Добавляет ключи в список ключей, отвечающих за данные"
						data-name="addDataKeys"
						
						data-importance="1">
						addDataKeys
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Object-each"
						title="Перебирает свойства, отвечающие за данные"
						data-name="each"
						
						data-importance="2">
						each
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Object-hasOwnProperty"
						title="Проверяет есть ли в экземпляре свойство, отвечающее за данные, с заданным ключом"
						data-name="hasOwnProperty"
						
						data-importance="3">
						hasOwnProperty
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Object-jset"
						title="Устанавливает свойство и добавляет ключ в список ключей, отвечающих за данные"
						data-name="jset"
						
						data-importance="1">
						jset
						<i class="important" title="Важно"></i>
						
						
							<span class="expand"></span>
							<span class="hidden-active-child"></span>
						
					</a>
					
						<div class="submenu-wrapper">
							<ul data-submenu="!Matreshka.Object-jset">
								
									<li>
										<a href="#!Matreshka.Object-jset(2)"
											title="Альтернативный синтаксис метода Matreshka.Object#jset, который использует объект ключ-значение для установки нескольких свойств сразу"
											data-name="jset#2"
											
											data-importance="1">
											#2
										</a>
									</li>
								
							</ul>
						</div>
					
			
				<li>
					<a href="#!Matreshka.Object-keyOf"
						title="Ищет заданное значение свойства среди свойств, отвечающих за данные, и возвращает ключ, если такое значение найдено  (аналог Array.prototype.indexOf)"
						data-name="keyOf"
						
						data-importance="2">
						keyOf
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Object-keys"
						title="Возвращает массив ключей, отвечающих за данные"
						data-name="keys"
						
						data-importance="2">
						keys
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Object-remove"
						title="Удаляет свойство из экземпляра класса Matreshka.Object и из списка ключей, отвечающих за данные"
						data-name="remove"
						
						data-importance="2">
						remove
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Object-removeDataKeys"
						title="Удаляет ключи из списка ключей, отвечающих за данные (но не удаляет свойство)"
						data-name="removeDataKeys"
						
						data-importance="2">
						removeDataKeys
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Object-toJSON"
						title="Конвертирует экземпляр и внутренние свойства Matreshka.Object в обычный объект"
						data-name="toJSON"
						
						data-importance="1">
						toJSON
						<i class="important" title="Важно"></i>
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Object-toNative"
						title="Делает то же самое, что и Matreshka.Object#toObject"
						data-name="toNative"
						
						data-importance="3">
						toNative
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Object-toObject"
						title="Конвертирует экземпляр Matreshka.Object в обычный объект, но не конвертирует входящие в него свойства"
						data-name="toObject"
						
						data-importance="3">
						toObject
						
						
						
					</a>
					
			

			
				<li><span class="nav-heading" data-importance="3">Свойства</span></li>
			

			
				<li>
					<a href="#!Matreshka.Object-isMKObject"
						title="Свойство isMKObject всегда равно true. Оно используется для проверки, является ли объект экземпляром Matreshka.Object."
						data-name="isMKObject"
						
						data-importance="3">
						isMKObject
						
						
					</a>
				</li>
			

			

			

			
			
			
		</ul>
	</div>

	<a
		href="#!Matreshka.Array"
		data-name="Array"
		data-importance="1"
	>
		<b>Matreshka.Array</b>

		<i class="important" title="Важно"></i>
		<span class="expand"></span>
		<span class="hidden-active-child"></span>
	</a>
	<div class="submenu-wrapper">
		<ul data-submenu="!Matreshka.Array">

			
				<li><span class="nav-heading" data-importance="1">Методы</span></li>
			
			
				<li>
					<a href="#!Matreshka.Array-METHOD"
						title="Любой метод из Array.prototype"
						data-name="METHOD"
						
						data-importance="1">
						METHOD
						<i class="important" title="Важно"></i>
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-METHOD_"
						title="Любой метод из Array.prototype с возможностью передать объект события"
						data-name="METHOD_"
						
						data-importance="1">
						METHOD_
						<i class="important" title="Важно"></i>
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-Model"
						title="Свойство определяет класс элементов, которые будет содержать коллекция"
						data-name="Model"
						data-since="0.2"
						data-importance="1">
						Model
						<i class="important" title="Важно"></i>
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-each"
						title="Работает точно так же, как и метод forEach, который перебирает элементы массива"
						data-name="each"
						
						data-importance="3">
						each
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-hasOwnProperty"
						title="Существует ли свойство в экземпляре (индекс или свойство length)"
						data-name="hasOwnProperty"
						
						data-importance="3">
						hasOwnProperty
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-mediateItem"
						title="Трансформирует значение элемента при вставке"
						data-name="mediateItem"
						data-since="0.1"
						data-importance="2">
						mediateItem
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-onItemRender"
						title="Функция, которая запускается перед событием render."
						data-name="onItemRender"
						data-since="1.1"
						data-importance="2">
						onItemRender
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-orderBy"
						title="Сортирует массив по значениям свойств объектов, которые в него входят"
						data-name="orderBy"
						data-since="1.6"
						data-importance="2">
						orderBy
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-pull"
						title="Удаляет элемент с заданным индексом из массива и возвращает этот элемент. Начиная с версии 0.3, метод поддерживает удаляемый элемент в качестве аргумента."
						data-name="pull"
						data-since="0.1"
						data-importance="2">
						pull
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-recreate"
						title="Пересоздает экземпляр Matreshka.Array"
						data-name="recreate"
						
						data-importance="1">
						recreate
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-rerender"
						title="Перерисовывает DOM узлы элементов, входящих в массив"
						data-name="rerender"
						data-since="0.3"
						data-importance="3">
						rerender
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-restore"
						title="Воссоздаёт Matreshka.Array из HTML узлов на странице."
						data-name="restore"
						data-since="1.3"
						data-importance="2">
						restore
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-toArray"
						title="Конвертирует Matreshka.Array в обычный массив, но не конвертирует входящие в него элементы"
						data-name="toArray"
						
						data-importance="3">
						toArray
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-toJSON"
						title="Конвертирует экземпляр и элементы, входящие в него в обычный массив"
						data-name="toJSON"
						
						data-importance="1">
						toJSON
						
						
						
					</a>
					
			
				<li>
					<a href="#!Matreshka.Array-toNative"
						title="Делает то же самое, что и Matreshka.Array#toArray"
						data-name="toNative"
						
						data-importance="3">
						toNative
						
						
						
					</a>
					
			

			
				<li><span class="nav-heading" data-importance="1">Свойства</span></li>
			

			
				<li>
					<a href="#!Matreshka.Array-isMKArray"
						title="isMKArray всегда равен true. Это свойство используется для того, чтоб определить, является ли объект экземпляром класса Matreshka.Array"
						data-name="isMKArray"
						
						data-importance="3">
						isMKArray
						
						
					</a>
				</li>
			
				<li>
					<a href="#!Matreshka.Array-itemRenderer"
						title="HTML строка, селектор или функция, отвечающая за отрисовку элементов массива на странице"
						data-name="itemRenderer"
						data-since="0.1"
						data-importance="1">
						itemRenderer
						<i class="important" title="Важно"></i>
						<i class="cool" title="Крутой метод или свойство"></i>
					</a>
				</li>
			
				<li>
					<a href="#!Matreshka.Array-renderIfPossible"
						title="Свойство renderIfPossible отменяет рендеринг массива"
						data-name="renderIfPossible"
						
						data-importance="3">
						renderIfPossible
						
						
					</a>
				</li>
			
				<li>
					<a href="#!Matreshka.Array-trackBy"
						title="Свойство trackBy указывает на ключ идентификатора объектов, входящих в массив"
						data-name="trackBy"
						data-since="1.2"
						data-importance="2">
						trackBy
						
						
					</a>
				</li>
			
				<li>
					<a href="#!Matreshka.Array-useBindingsParser"
						title="Свойство отключает парсер, если присвоить ему false"
						data-name="useBindingsParser"
						
						data-importance="3">
						useBindingsParser
						
						
					</a>
				</li>
			

			
				<li><span class="nav-heading" data-importance="2">Статичные методы</span></li>
			

			
				<li>
					<a
						href="#!Matreshka.Array.from"
						title="Метод создаёт новый экземпляр Matreshka.Array из массивоподобного объекта."
						data-name="from"
						data-since="1.1"
						data-importance="2">
						from
						
						
					</a>
				</li>
			
				<li>
					<a
						href="#!Matreshka.Array.of"
						title="Метод Array.of() создаёт новый экземпляр Matreshka.Array из произвольного числа агрументов, вне зависимости от числа или типа аргумента."
						data-name="of"
						data-since="1.1"
						data-importance="2">
						of
						
						
					</a>
				</li>
			

			
			
			
		</ul>
	</div>


<a
	href="#!Class"
	title="Реализация классов, основанная на прототипном наследовании"
	
	data-importance="2"
>
	Class
	
	
</a>

<a
	href="#!$b"
	title="Микро-библиотека bQuery"
	data-since="0.1"
	data-importance="2"
>
	$b
	
	
</a>

