<section id="promo">
	<article id="!home">
		<img src="img/mk5-logo_matreshka.svg" class="mk-logo-matreshka">
		<img src="img/mk5-logo_text.svg" class="mk-logo-text">
		<span class="version">v{{ site.data.package.version }}</span>
		<p class="slogan">Event-driven JavaScript фреймворк</p>
		<pre class="prettyprint lang-html" style="max-width: 540px; margin: 0 auto; text-align: left;"><code>&lt;script src=&quot;matreshka.min.js&quot;&gt;&lt;/script&gt;
&lt;input type=&quot;text&quot; class=&quot;my-input&quot;&gt;
&lt;script&gt;
var app = new Matreshka();
app.bindNode('x', '.my-input');
app.x = 'Двустороннее связывание данных в JS? Серьезно?';
&lt;/script&gt;</code></pre>
		<p>
			<a href="https://github.com/finom/matreshka/archive/v{{ site.data.package.version }}.zip" download class="download-btn">Скачать <i></i></a>
			<a href="https://github.com/finom/matreshka" class="github-btn">Github <i></i></a>
		</p>
	
		<div class="sponsors">
			<h3>Кто помогает проекту?</h3>
			<div class="main-sponsor">
				Главный спонсор<br>
			    <a href="http://shooju.com" target="_blank"><img src="img/logos/shooju.png"></a>
			</div>
			<a href="http://habrahabr.ru/company/matreshka/"><img src="img/logos/habrahabr.svg" height="70"></a>
			<a href="https://www.browserstack.com/"><img src="img/logos/browserstack.svg" height="60"></a>
		</div>
		{% include ru/performance.html %}
		{% include ru/extras.html %}

	</article>
</section>
