<section id="promo">
	<article id="!home">
		<img src="img/mk5-logo_matreshka.svg" class="mk-logo-matreshka">
		<img src="img/mk5-logo_text.svg" class="mk-logo-text">
		<span class="version">v{{ site.data.package.version }}</span>
		<div class="demo">
			<output class="out">Событийно-ориентированный фреймворк</output>
			<input type="text" class="in" value="Событийно-ориентированный фреймворк">
			<pre class="prettyprint lang-html"><code>&lt;output class=&quot;out&quot;&gt;&lt;/output&gt;
&lt;input class=&quot;in&quot; type=&quot;text&quot;&gt;

&lt;script src=&quot;matreshka.min.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;
var app = new Matreshka();
app.bindNode('x', '.in, .out');
app.x = 'Событийно-ориентированный фреймворк';
&lt;/script&gt;</code></pre>
		</div>

		<p>
			<a href="https://github.com/finom/matreshka/archive/v{{ site.data.package.version }}.zip" download class="download-btn">Скачать <i></i></a>
			<a href="https://github.com/finom/matreshka" class="github-btn">Github <i></i></a>
		</p>

		<p><a href="https://gitter.im/matreshkajs/matreshka/ru">Чатик Матрешки</a></p>
		<p><a href="https://twitter.com/matreshkajs">@matreshkajs в Твиттере</a></p>

		<div class="sponsors">
			<h3>Кто помогает проекту?</h3>
			<div class="main-sponsor">
				Главный спонсор<br>
			    <a href="http://shooju.com" target="_blank"><img src="img/logos/shooju.png"></a>
			</div>
			<a href="http://habrahabr.ru/company/matreshka/"><img src="img/logos/habrahabr.svg" height="70"></a>
			<a href="https://www.browserstack.com/"><img src="img/logos/browserstack.svg" height="60"></a>
		</div>
		{% include ru/performance.html %}
		{% include ru/extras.html %}

	</article>
</section>
